

/* == begin @Apply-block === */



.pension-apply-intro {
margin:3% 6% 1% 6%;
width: 88%;
//@extend .full-width;

}


&.benefit-pensions ul.apply-block {
	text-align: left;	
	position: relative;	
	float:left;
	margin-bottom:0;
	padding: 0;	
	background: white;
	border:1px solid $color-va-lt-grey2;


	
	p {
		font-size: 15.5px;
	}
	

	li {
		vertical-align: top;
		padding-bottom: 2em;
		
		&.apply-divider {
			background: url(#{$imgDir}bg-apply-divider.png) right 110% no-repeat;
		}

		&.apply-option {
			border:none;
			width:33.3%;
			*width:33.15%;
			background-color: transparent;
			min-height: 380px;			
			}


			p {
				width:64%;
			}

			
			h4 {
				font-size: em-calc(22px);
				min-height: 50px;			
				
				span {					
					display: block;
					margin-top: -.3em;
					font-size: 18px;
					letter-spacing: 0px;
					text-transform: none;
				}// ./span
			}// ./h4 
		
	}// ./ul
}// ./apply-block


